// Contact button

.menu-btn {
  position: absolute;
  z-index: 4;
  right: 20px;
  top: 12px;
  cursor: pointer;
  @include easeOut;
  margin: 0px 5px 5px 5px;

  .btn-line {
    width: 15px;
    height: 2px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
    &:nth-child(1) {
      transform: rotate(45deg) translate(7px, 8px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(-5px, -10px);
    }
  }

  // rotation
  &.close {
    .btn-line {
      //when menu button is "closed"
      &:nth-child(1) {
        transform: rotate(120deg) translate(6px, -8px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(60deg) translate(-5px, 1px);
      }
    }
  }
}

// Menu overlay

.menu {
  position: fixed;
  top: 0;
  width: 100%;

  //opacity: 0.91;
  //hide links by default
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    margin-top: 0%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    //no scrollbar
    overflow: hidden;
  }
  &-nav {
    background: darken($primary-color, 5);

    img {
      max-width: 100%;
    }

    transform: translate3d(100%, 0, 0);
    @include easeOut;
    padding: 1rem;

    &.show {
      //slide from right
      transform: translate3d(0, 0, 0);
    }
  }
  &-branding {
    opacity: 1;
    background: lighten($primary-color, 1);
    transform: translate3d(-100%, 0, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      h1,
      h4 {
        color: #fff;
      }

      text-align: center;
      width: 100%;
      height: auto;

      background-size: cover;
      border: solid 2px $secondary-color;

      .gear-info {
        background: none;
        border: none;
        color: #fff;
        display: inline-block;

        &:hover {
          text-decoration: underline;
          opacity: 0.5;
          @include easeOut;
        }
      }
    }
  }
}
