@import "config";
@import "menu";
@import "mobile";
* {
  box-sizing: border-box;
}
body {
  @include background;
  background: $primary-color;
  //padding-top: 0px !important;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  //border-top: steelblue;
}
//align nav bar to center
header {
  .top-navbar {
    background-color: #161616;
    text-align: center;
    padding: 1rem;
    //position: fixed;
    width: 100%;
    z-index: 2;

    a,
    div {
      //set color
      color: $secondary-color;
      //remove line under link
      text-decoration: none;
      //space between links
      margin: 10px;

      &:hover:not(.current) {
        color: #e6e600;
        @include easeOut();
      }
    }
  }
}

// Headings
h1,
h2 {
  margin: 0;
  font-weight: 400;

  //Change properties of lg-heading
  &.lg-heading {
    font-size: 5rem;
    color: $secondary-color;
  }

  //Change properties of sm-heading
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    color: $secondary-color;
    background: rgba(lighten($overlay-color, 2), 0.5);
  }
}

//change color for current page
.current {
  background-color: darkcyan;
  padding: 1rem;
  border-radius: 10px;
}
main {
  padding: 4rem;

  .icons {
    margin-top: 1rem;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    margin: 10px;
    padding: 0.4rem;
    &:hover {
      color: #e6e600;
      @include easeOut;
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
