@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
body {
  @include background;

  background: $primary-color;

  height: 100%;
  margin: 0;
  font-family: sans-serif;
  //overflow: hidden;
  //border-top: steelblue;
}
//align nav bar to center
header {
  .top-navbar {
    background-color: #161616;
    text-align: center;
    height: 50px;
    //position: fixed;
    width: 100%;
    z-index: 2;

    //list-style: none; //remove bulletpoints

    a,
    li {
      // list to horizontal
      display: inline-block;
      //set color
      color: $secondary-color;
      //remove line under link
      text-decoration: none;
      //space between links

      margin-top: 8px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 7px;
      &:hover:not(.current) {
        //should not effect "current"
        color: #f47835;
        @include easeOut();
      }
    }
  }
}

// Headings
h1,
h2 {
  margin: 0;
  font-weight: 400;

  //Change properties of lg-heading
  &.lg-heading {
    font-size: 5rem;
    color: $secondary-color;
  }

  //Change properties of sm-heading
  &.sm-heading {
    margin-right: 40rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    color: $secondary-color;
    background: rgba(lighten($overlay-color, 2), 0.2);
  }
}

//change color for current page
.current {
  background-color: $overlay-color;
  //padding: 1rem;
  border-radius: 10px;
}
main {
  padding: 4rem;

  min-height: calc(100vh - 110px);

  .icons {
    margin-top: 1rem;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    margin: 10px;
    padding: 0.4rem;
    &:hover {
      color: #e6e600;
      @include easeOut;
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  height: 50px;
  .icons {
    margin-bottom: 5rem;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    margin: 10px;
    padding: 0.4rem;

    &:hover {
      color: #e6e600;
      @include easeOut;
    }
  }
}

//contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 2px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;

    @include easeOut;
    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//Lessons/Categories
#lessons {
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
  //ideas for tooltip https://www.w3schools.com/css/css_tooltip.asp#:~:text=The%20%3Ahover%20selector%20is%20used,with%20class%3D%22tooltip%22%20.
  .tooltip {
    position: relative;
    display: inline-block;
    margin-top: -40%;
    //margin-bottom: 20%;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;

    color: #fff;
    margin-left: 3rem;
    padding: 5px 0;
  }
  .projects {
    display: grid;

    .lesson-category {
      width: 100%;
      height: auto;
      object-fit: fill;
      position: relative;
      margin: 7% 8% 5% 0%;
      &:hover {
        .tooltiptext {
          visibility: visible;
        }
      }
    }
    .lesson-category img {
      width: 100%;
      margin-top: 20px;
      &:hover {
        opacity: 0.5;
        @include easeOut;
      }
    }
    .text-wrapper {
      width: 100%;
      position: relative;
      margin-top: -40%;
    }
    .text-wrapper h1 {
      text-align: center;
      color: #fff;
      margin-left: 3rem;
      text-shadow: 2px 2px #000;
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 0.5rem;
  border: 0;
  margin-bottom: 0.3rem;
  //margin-left: 45px;
  &:hover {
    background: #e6e600;
    color: set-text-color($secondary-color);
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 10%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
}

.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}

.job {
  background: lighten($overlay-color, 5);

  padding: 0.5rem;
  border-bottom: $overlay-color 5px solid;
}

@import "mobile";
